<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Edit user</title>
</head>
<body>

<div>
    <button onclick="location.href='/logout'">Logout</button>
</div>
<h2 th:utext="${currentUser.email + ' with roles:' + currentUser.rolesNames}"></h2>
<div>
    <button onclick="location.href='/admin'">Admin</button>
</div>
<div>
    <button onclick="location.href='/user'">User</button>
</div>

<h1>Admin panel</h1>
<button onclick="location.href='/admin'">Users table</button>
<button onclick="location.href='/add'">New user</button>

<h2 th:utext="${user.id == null} ? 'Add new user' : 'Edit user'"></h2>
<form th:action="@{/admin/save}" th:object="${user}" method="post" id="save">
    <table>
        <tr>
            <td><label for="id">ID</label></td>
            <td><input readonly type="number" th:field="*{id}" id="id"></td>
        </tr>

        <tr>
            <td><label for="firstname">First Name</label></td>
            <td><input type="text" th:field="*{username}" id="firstname" required></td>
        </tr>
        <tr>
            <td><label for="lastname">Last Name</label></td>
            <td><input type="text" th:field="*{lastname}" id="lastname" required></td>
        </tr>
        <tr>
            <td><label for="age">Age</label></td>
            <td><input type="number" th:field="*{age}" id="age" required></td>
        </tr>
        <tr>
            <td><label for="email">Email</label></td>
            <td><input type="text" th:field="*{email}" id="email" required></td>
        </tr>
        <tr>
            <td><label for="password"> Password </label></td>
            <td><input type="password" th:field="*{password}" id="password" required></td>
        </tr>
        <tr>
            <td><label for="role"> Role </label></td>
            <td>
                <select th:size="${roleList.size()}" name="roleIds" id="role" required multiple>
                    <option th:each="role : ${roleList}"
                            th:value="${role.id}"
                            th:utext="${role.name}"></option>
                </select>
            </td>
        <tr>
            <td th:if="${user.id == null}">
                <input type="submit" value="Add new user" form="save">
            </td>
            <td th:unless="${user.id == null}">
                <button type="reset" onclick="location.href='/admin'">Close</button>
                <input type="submit" value="Edit" form="save">
            </td>
        </tr>
    </table>
</form>
</body>
</html>