<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>All users</title>
</head>
<body>

<button onclick="location.href='/logout'">Logout</button>
<h2 th:utext="${currentUser.email + ' with roles:' + currentUser.rolesNames}"></h2>
<button th:if="${currentUser.isAdmin()}" onclick="location.href='/admin'">Admin</button><br>
<button onclick="location.href='/user'">User</button>

<div th:if="${adminPanel}">
    <h1>Admin panel</h1>
    <button onclick="location.href='/admin'">Users table</button>
    <button onclick="location.href='/admin/add'">New user</button>
    <h2>All users</h2>
</div>

<div th:unless="${adminPanel}">
    <h1>User information-page</h1>
    <h2>About user</h2>
</div>

<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Role</th>
        <th th:if="${adminPanel}">Edit</th>
        <th th:if="${adminPanel}">Delete</th>
    </tr>

    <tr th:if="${adminPanel}" th:each="user : ${userList}">
        <td th:utext="${user.id}"></td>
        <td th:utext="${user.username}"></td>
        <td th:utext="${user.lastname}"></td>
        <td th:utext="${user.age}"></td>
        <td th:utext="${user.email}"></td>
        <td>
            <div th:each="role : ${user.roles}" th:text="${role.name}"></div>
        </td>
        <td>
            <button th:attr="onclick=|location.href='@{/admin/edit{id}(id=${user.id})}'|">Edit</button>
        </td>
        <td>
            <button th:attr="onclick=|location.href='@{/admin/delete{id}(id=${user.id})}'|">Delete</button>
        </td>
    </tr>

    <tr th:unless="${adminPanel}">
        <td th:utext="${currentUser.id}"></td>
        <td th:utext="${currentUser.username}"></td>
        <td th:utext="${currentUser.lastname}"></td>
        <td th:utext="${currentUser.age}"></td>
        <td th:utext="${currentUser.email}"></td>
        <td>
            <div th:each="role : ${currentUser.roles}" th:text="${role.name}"></div>
        </td>
    </tr>
</table>

<span th:if="${isUsernameExists}">User with the first name already exists</span>
</body>
</html>